body {
    margin-top: 550px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: lavenderblush;
    background-image: url('./nfs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}