body {
    margin: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:lavenderblush;
    background-position: top center;
    background-image: url('./calificaciones.jpg');
    background-repeat: no-repeat;
}